body {
  background-color: rgb(65, 218, 154);
   /* background-color: rgb(34, 14, 0); */
  font-family: "Teko", sans-serif;
  font-size: 2em;
  color: white;
  font-weight: 400;

}

main {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  transition: color 150ms;
}

.image {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  opacity: 0%;
}

img {
  /* width: 756px; */
  height: 500px;
}

.content {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.trade {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

h1 {
  font-size: 7em;
  font-weight: 600;
  opacity: 0%;
}

section {
  margin-bottom: 1em;
  opacity: 0%;
  /* transform: translateX(-50px); */
  max-width: 400px;
}

.ico-sol {
  display: inline;
  height: 0.7em;
  margin: auto;
  /* filter: contrast(1.5); */
  margin: 0 0.2em;
  -webkit-filter: drop-shadow(1px 1px 1px #222222);
  filter: drop-shadow(1px 1px 1px #8b8b8b);
}

.addy {
  display: flex;
  gap: 0.5em;
}

b {
  font-weight: 500;
  letter-spacing: 0.03em;
}

button {
  border-radius: 0.3em;
  width: 4em;
  font-family: "Teko", sans-serif;
  font-size: 0.5em;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: white;
  background-color: rgba(0, 156, 34, 0.11);
  border: 0.5px solid rgba(255, 255, 255, 0.37);
  transition: border-color 150ms;
  transition: background-color 150ms;
}
button:hover {
  background-color: #9ce3ff;
  border-color: 0.5px solid rgb(255, 255, 255);
}
.rainbow {
  letter-spacing: 5px;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 1s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

.links {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  height: 1.5em;
}
.links a {
  position: relative;
  width: 1.4em;
  transition: font-size 140ms;
}

.links a:hover {
  color: #9ce3ff;
  font-size: 1.4em;
}


.addyText{
  letter-spacing: -0.02em;
  font-size: 0.8em;
}
.addyText:hover {
  color: #9ce3ff;
}

@media only screen and (max-width: 1270px) {
  body {
    font-size: 1.7em;
  }
  img{
    height: 400px;
  }
  .addyText {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 430px) {
  body {
    font-size: 1.2em;
  }
  main{
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
  }
  section{
    max-width: 350px;
    margin-bottom: 0.5em;
  }
  .description{
    max-width: 270px;
  }
  img{
    height: 300px;
  }
}

